footer {
    font-family: sans-serif;
    padding: 15px 20px;
    margin-top: 10px;
    background-color: $main-background-color;
    @include clearfix;
    .copyright {
        float: left;
        color: #515151;
        @media (max-width: 767px) {
            float: none;
            font-size: 14px;
            @include inline-block;
        }
        @media (max-width: 480px) {
            font-size: 13px;
            line-height: 1.2em;
        }
    }
    .footer-menu {
        float: right;
        @include clearfix;
        ul {
            @include clearfix;
            li {
                display: block;
                float: left;
                margin-right: 14px;
                a {
                    color: #515151;
                    display: block;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
            @media (max-width: 767px) {
                @include inline-block;
            }
        }
        @media (max-width: 767px) {
            float: none;
            margin-bottom: 15px;
        }
    }
    @media (max-width: 767px) {
        text-align: center;
    }
}