header {
    background-color: $main-background-color;
    margin-bottom: 10px;
    padding: 75px 10px 0;
    .header-menu {
        float: left;
        ul {
            clear: both;
            li {
                margin-right: 2px;
                display: block;
                float: left;
                a {
                    color: $text-color;
                    background-color: $header-menu-element-background-color;
                    padding: 10px 20px;
                    text-decoration: none;
                    font-weight: bold;
                    font-family: sans-serif;
                    font-size: 14px;
                    @include inline-block;
                    &:hover {
                        cursor: pointer;
                        background-color: $alt-background-color;
                    }
                    &:first-letter {
                        text-transform: uppercase;
                    }
                    @media (max-width: 480px) {
                        padding: 7px 15px;
                        font-size: 12px;
                        display: block;
                        margin-bottom: 1px;
                    }
                }
                &.has-child {
                    position: relative;
                    .has-child-arrow {
                        margin-left: 5px;
                        @include sprites('arrow_opened');
                        @include inline-block;
                    }
                    ul {
                        &.submenu {
                            width: 150px;
                            display: none;
                            padding: 0 3px;
                            position: absolute;
                            background-color: $alt-background-color;
                            li {
                                float: none;
                                a {
                                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                                    font-size: 12px;
                                    padding: 5px 3px;
                                    line-height: 1.2em;
                                    display: block;
                                    font-weight: normal;
                                    background-color: $alt-background-color;
                                }
                                &:last-child {
                                    a {
                                        border-bottom: none;
                                    }
                                }
                            }
                            @media (max-width: 480px) {
                                position: static;
                                width: auto;
                            }
                        }
                    } 
                    @media (max-width: 480px) {
                        position: static;
                    }
                }
                &.selected {
                    a {
                        background-color: $alt-background-color;
                    }
                    ul {
                       &.submenu {
                            display: block;
                        }
                    }
                }
                &:las-child {
                    margin-right: 0;
                }
                @media (max-width: 480px) {
                    float: none;
                }
            }
        }
        &.big-screen {
            display: block;
            @media (max-width: 480px) {
                display: none;
            }
        }
        &.small-screen {
            display: none;
            @media (max-width: 480px) {
                display: block;
            }
        }
        @media (max-width: 480px) {
            float: none;
        }
    }
    .language-switcher {
        float: right;
        margin-top: 2px;
        @include clearfix;
        li {
            margin-right: 4px;
            padding: 1px;
            float: left;
            border: 2px solid #232323;
            border: 2px solid rgba(35,35,35, 0.5);
            @include border-radius(3px);
            a {
                text-indent: -10000px;
                display: block;
                &.uk {
                    @include sprites('uk_flag');
                }
                &.fr {
                    @include sprites('fr_flag');
                }
                &.de {
                    @include sprites('de_flag');
                }
            }
            &:last-child {
                margin-right: 0;
            }
            &:hover,
            &.selected {
                border: 2px solid rgba(35,35,35, 1);
            }
            @media (max-width: 480px) {
                float: none;
                @include inline-block;
            }
        }
        @media (max-width: 480px) {
            float: none;
            margin-bottom: 20px;
        }
    }
    @media (max-width: 480px) {
        padding-top: 10px;
        text-align: center;
    }
}