.logo {
    display: block;
    text-indent: -100000px;
    position: fixed;
    left: 0;
    top: 85px;
    z-index: 99999;
    @include sprites('logo');
    @media (max-width: 767px) {
        top: 131px;
    }
}
.main-wrapper {
    margin: 10px auto;
    max-width: 1280px;
    .container {
        background-color: $main-background-color;
        @include clearfix;
        .left-column {
            width: 70%;
            float: left;
            background-color: $main-background-color;
            .content {
                background-color: $content-background-color;
                margin: 10px;
                @include clearfix;
                article {
                    margin-top: 35px;
                }
            }
            @media (max-width: 767px) {
                float: none;
                width: 100%;
            }
        }
        .right-column {
            width: 30%;
            float: left;
            background-color: $right-column-background-color;
            aside {
                margin: 10px;
                padding: 10px;
                background-color: $content-background-color;
                color: $text-color;
                font-size: 14px;
                .block {
                    background-color: $alt-background-color;
                    margin-bottom: 1px;
                    font-family: sans-serif;
                    .block-head {
                        padding: 12px 10px;
                        @include clearfix;
                        .title {
                            float: left;
                        }
                        .arrow {
                            margin-top: 4px;
                            float: right;
                            &.opened {
                                @include sprites('arrow_opened');
                            }
                            &.closed {
                                @include sprites('arrow_closed');
                            }
                        }
                    }
                    .block-text {
                        line-height: 18px;
                        padding: 15px 10px 5px;
                        &.opened {
                            display: block;
                        }
                        &.closed {
                            display: none;
                        }
                    }
                }
            }
            @media (max-width: 767px) {
                float: none;
                width: 100%;
                height: auto !important;
            }
        }
    }
    .clearfix {
        clear: both;
    }
    @media (max-width: 480px) {
        max-width: 480px;
    }
}