$sprites-layout: smart;
$sprites-spacing: 2px;
@import "sprites/*.png";

@mixin sprites($name){
    height: sprites-sprite-height($name);
    width: sprites-sprite-width($name);	
    @include sprites-sprite($name);
}