h1 {
    color: $text-color;
    font-size: 48px;
    font-family: helvetica_inserat;
    border-bottom: 1px solid $alt-background-color;
    padding-bottom: 10px;
    padding-left: 20px;
    margin: 0 10px;
}
p {
    color: $text-color;
    line-height: 1.2em;
    margin: 15px 20px 25px;
    font-size: 14px;
    font-family: sans-serif;
}