$main-background-color: #cceaf7;

$content-background-color: #517296;

$header-menu-element-background-color: #6689ae;

$alt-background-color: #002966;

$table-background-color: #284d7e;

$text-color: #ffffff;

$right-column-background-color: #a3bbc6;

